In [1]:
import pandas as pd
import os, sys

# set the root directory to the project folder
root_dir = os.path.join(os.getcwd(), '..')
sys.path.append(root_dir)

In [3]:
# import the main data set
co2 = pd.read_csv('../data/co2_emission.csv', index_col = 0)

In [4]:
co2.head()

            Code  Year  Annual CO₂ emissions (tonnes )
Entity
Afghanistan  AFG  1949                         14656.0
Afghanistan  AFG  1950                         84272.0
Afghanistan  AFG  1951                         91600.0
Afghanistan  AFG  1952                         91600.0
Afghanistan  AFG  1953                        106256.0